<div class="container">
  <h1>Coach-chat</h1>
  <div class="flex-wrapper">
    <form action="/answer">
      <input id="search-field" type="text" name="question">
      <input id="submit" class="btn" type="submit" value="ask the coach">
    </form>
  </div>
</div>
